@media only screen and (width: 1000px) {
    #sidebar {
        width: 200px;
        height: 100%;
        border: 1px solid blue;
    }
    #content {
        width: 800px;
        right: 0px;
    }
} 

@media only screen and (min-width: 1001px) {
    .flex-container {
        display: flex;
    }

    .flex-container > #sidebar {
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        border: 1px solid grey;
    }
      
    .flex-container > article {
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        flex: 7
    }

    .flex-container > .space {
        margin: 10px;
        padding: 20px;
        font-size: 30px;
        flex: 1
    }
} 