@media only screen and (width: 1000px) {
    #sidebar {
        width: 200px;
        height: 100%;
        border: 1px solid blue;
    }
    #content {
        width: 800px;
        right: 0px;
    }
} 

@media only screen and (min-width: 1001px) {
    #sidebar {
        width: 200px;
        height: 1000px;
        float: left;
        display: in-line block; 
        border: 1px solid grey;
    }
    #content {
        width: 800px;
        justify-content: center;
        margin-right: 200px; 
        float: right; 
        display: in-line block; 
    }
} 